.return-book{
  background-color: #ccc;
  width: 90%;
  -webkit-box-shadow: -2px 12px 5px 9px #ccc;
  -moz-box-shadow: -2px 12px 5px 9px #ccc;
  box-shadow: -2px 1px 5px 9px #ccc;
  display: block;
  margin-top: 10%;
  margin-bottom: 15%;
}

.d-flex {
  background-image: url("./../../assets/images/mainback.jpg");
}
