<!-- As a heading -->
<nav class="navbar navbar-light bg-light head">
  <div class="img-class">
    <img src="./../assets/images/logo.png">
  </div>
</nav>
<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="toolbar" role="banner">
    <div class="col-sm-1">
      <ul class="navbar-nav">
        <li class="nav-item text-center">
          <a routerLink="books" class="nav-link" routerLinkActive="active">Наличност</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-1">
      <ul class="navbar-nav">
        <li class="nav-item text-center">
          <a routerLink="readers" class="nav-link" routerLinkActive="active">Читатели</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-1">
      <ul class="navbar-nav">
        <li class="nav-item text-center">
          <a routerLink="borrow" class="nav-link" routerLinkActive="active">Отдай книга</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-1">
      <ul class="navbar-nav">
        <li class="nav-item text-center">
          <a routerLink="return" class="nav-link" routerLinkActive="active">Взети книги</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--<div class="fixed-top">-->
<!--  <nav class="navbar navbar-expand-sm navbar-dark">-->
<!--    <img src="./../assets/images/logo.png">-->
<!--  </nav>-->
<!--</div>-->
<!--<div class="toolbar" role="banner">-->
<!--  <nav class="navbar navbar-expand-sm navbar-dark" role="navigation">-->
<!--    &lt;!&ndash; Links &ndash;&gt;-->
<!--    <ul class="navbar-nav">-->
<!--      <li class="nav-item">-->
<!--        <a routerLink="books" class="nav-link" routerLinkActive="active">Наличност</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</div>-->

<div class="content" role="main">
</div>

<router-outlet></router-outlet>
